# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

#History plugin
.history

#Intellij
.cache
.lib/
.idea/
.gradle/

#Metals
.bsp/
.metals
.vscode
.bloop/


#Kafka and zookeeper local files
full-stack/
local-data/
events/